# Полный зарегистрированный домен или сабдомен для автоматического бесплатного HTTPS
DOMAIN=deskovery.duckdns.org
PORT=3000
NODE_ENV=production

# Командный пароль для доступа к каталогу досок и созданию новых пространств
TEAM_PASSWORD=deskovery2026

# Секретная соль для хэширования паролей комнат
PASSWORD_SALT=deskovery_production_salt_v1
